 <ion-view view-title="Places Manager" class="owt-modal">

	<div ng-style="posIonContentStyle(0, true)"></div>
	<div class="owt-toolbar">
		<a ng-click="saveSelModalToolbar(1)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="saveSelModalToolbarClass(1)"></i><div>Buttons</div>
		</div></a><a ng-click="saveSelModalToolbar(2)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="saveSelModalToolbarClass(2)"></i><div>Map All</div>
		</div></a><a ng-click="saveSelModalToolbar(3)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="saveSelModalToolbarClass(3)"></i><div>Map Sel</div>
		</div></a><a ng-click="saveSelModalToolbar(4)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="saveSelModalToolbarClass(4)"></i><div>Map Me</div>
		</div></a><a ng-click="saveSelModalToolbar(0)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="saveSelModalToolbarClass(0)"></i><div>Close</div>
		</div></a>
	</div>

	<div class="item control-contained" ng-style="posIonContentStyle(1)">
		<div class="control-area" ng-class="posControlAreaClass(1)">
			<div class="control-area-map" gmap="gmapData">
			</div>
			<button class= "button icon icon-left ion-ios-heart"
				ng-click="saveSelListDialogFunc(2)">Add To Favs</button>
			<button class= "button icon icon-left ion-ios-heart-outline"
				ng-click="saveSelListDialogFunc(3)">Rm From Favs</button>
				</br>
			<button class= "button icon icon-left ion-ios-skipbackward"
				ng-click="saveSelListDialogFunc(0)">Restore</button>
			<button class= "button icon icon-left ion-ios-loop"
				ng-click="saveSelListDialogFunc(1)">Reverse</button>

			<div class="position-relative widthMax">
				<div class="edit-del">
					<a ng-click="delPlacesButtonTog()">
						<i class="icon edit-icon"
							ng-class="delPlacesButtonClass()"></i>
					</a>
				</div>
				<div class="edit-reorder">
			<button class= "button icon icon-left ion-ios-infinite"
				ng-click="saveSelListDialogFunc(4)">Save As Tour</button>
					<button class= "button icon icon-left ion-ios-shuffle-strong shuffle"
						ng-click="reorderPlacesButtonTog()">Shuffle
					</button>
				</div>
			</div>
		</div>
	</div>
	<div>
		<ion-content class="list-area-top" ng-style="posListTopStyle()">
			<ion-list id="saveSelList" class="owt-list"
				show-delete="saveSelListUI.delF"
				show-reorder="saveSelListUI.reorderF"
				>
				<div ng-if="saveSelListItems.length">
					<ion-item class="item-avatar item-icon-right pointer-events-auto" ng-repeat="item in saveSelListItems"
						ng-click="saveSelListClick(item)"
						on-swipe-left="saveSelListClick(item, 1)"
						>
					
						<img ng-src="{{item.pic}}">						
						<h2>{{item.name}}</h2>
						<p>{{item.description}}</p>
						<i class="icon" ng-class="addButtonClass(item.id, saveSelListUI.delF)">
							{{addButtonPos(item.id, saveSelListUI.delF)}}</i>
						<ion-delete-button class="ion-minus-circled"
							ng-click="delPlacesButtonOp(item.id)">
						</ion-delete-button>
						<ion-reorder-button class="ion-ios-shuffle-strong"
							on-reorder="moveSelList(item, $fromIndex, $toIndex)">
						</ion-reorder-button>
					</ion-item>
				</div>
				<div ng-if="!saveSelListItems.length">
					<ion-item>
						<h3>No Places To Save</h3>
					</ion-item>
				</div>
			</ion-list>
		</ion-content>
	</div>
 </ion-view>
