<!--
	This template loads for the 'tab.item-detail' state (app.js)
-->
<ion-view view-title="{{item.name}}">
	<div ng-style="posIonContentStyle(0, true)"></div>
	<div class="owt-toolbar">
		<a ng-click="toolBarBut(1)"><div class="but-toolbar grey" style="width:20%">
			<i class="icon" ng-class="toolBarButClass(1)"></i><div>Edit</div>
		</div></a><a ng-click="toolBarBut(2)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="toolBarButClass(2)"></i><div>{{toolBarButText(2)}}</div>
		</div></a><a ng-click="toolBarBut(3)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="toolBarButClass(3)"></i><div>{{toolBarButText(3)}}</div>
		</div></a><a ng-click="toolBarBut(5)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="toolBarButClass(5)"></i><div>Street</div>
		</div></a><a ng-click="toolBarBut(0)"><div class="but-toolbar" style="width:20%">
			<i class="icon" ng-class="toolBarButClass(0)"></i><div>My Fav</div>
		</div></a>
	</div>
	<div class='position-relative'>
		<div class="owt-details-tray owt-details-maparea" ng-style="posIonContentStyle(1)">
			<button class="owt-details-map-but owt-details-map-but-directions"
				ng-click="mapDirectionsMode()">Directions
			</button>
			<button class="owt-details-map-but owt-details-map-but-mapme" 
				ng-click="toolBarBut(4)">Map Me
				<i class="icon" style="font-size: 20px" ng-class="toolBarButClass(4)"></i>
			</button>
			<div class="owt-details-map-directions" ng-class="mapDirectionsClass()">
				<br/>
				<br/>
				<h3>Directions To Get Here Go Here</h3>
			</div>
			<div class="owt-details-map pointer-events-auto" gmap="gmapData">
			</div>
		</div>
		<div class="owt-details-tray" ng-style="posIonContentStyle(2)">
			<div class="owt-details-yourpics">
				<button class="owt-details-photo-add">
					<i class="icon ion-ios-plus-outline"></i>
				</button>
				<br/>
				<br/>
				<h3>Your Pictures Go Here</h3>
			</div>
		</div>
	</div>
	<ion-slides options="slider.options" slider="slider.delegate">
	  	<ion-slide-page
	  		ng-repeat="item in itemsFiltered() track by item.id">
			<ion-content class="padding owt-details" ng-style="posIonContentStyle(3,true)">
				<div ng-if="item.render">
					<div class="owt-details-pics">
						<br/>
						<h3>Pictures Go Here</h3>
					</div>
		  			<div>
		  				<div class="position-relative">
			  				<i class="icon ion-chevron-left slide-icons"
			  					ng-if="item.sliders !=1" style="left: -7px"></i>
			  				<i class="icon ion-chevron-right slide-icons"
			  					ng-if="item.sliders !=2" style="right: -7px"></i>
			  			</div>
			  			<div class="right-padding"></div>
						<button class="select-icon" ng-click="selListAdd(item.id)">
							<i class="icon" ng-class="addButtonClass(item.id)">
								{{addButtonPos(item.id)}}</i>
						</button>
						<h2>{{item.name}}</h2>

						<div class="float-left">
							<img ng-src="{{item.pic}}">
						</div>
						<h3 class="text-left" ng-if="item.address">{{item.address}}</h3>
						<!-- <h3 ng-if="item.type">{{item.type}}</h3> -->
						<div class="clear"></div>
						<br/>
						<p>
							{{item.description}}
						</p>
						<h3 class="swipe-notice"> <-- swipe to view other places --></h3>
					</div>
				</div>
			</ion-content>
		</ion-slide-page>
	</ion-slides>
</ion-view>
