<ion-view view-title="Places">
	<div class="item owt-list-controls">
		<div class="search-entry">
			<i class="ion ion-ios-search-strong search-entry-icon" style="left:2%"></i>
			<input type="text" class="search-entry-input"
				placeholder="Selection Filter" ng-change="selListFilterChg()" ng-model="saveSelListUI.filter"></input>
			<div class="inline-block">
			<a ng-click="selListFilterClear()">
				<i class="ion ion-ios-close-outline search-entry-icon" 
				style="left:81%; font-size:22px"></i>
			</a>
			</div>
			<a ng-click="filterFavs()">
				<i class="ion search-entry-icon" ng-class="filterFavsClass()" style="right:1px"></i>
			</a>
		</div>
		<button class="button" ng-click="saveSelList(1)">Save Selected</button>
		<button class="button" ng-click="saveSelList(0)">Clear Selected</button>
	</div>
	<div class="position-relative heightMax">
		<ion-content class="owt-content">
			<ion-list class="owt-list">
				<div ng-if="items()">
					<ion-item class="item-avatar item-icon-right" ng-repeat="item in itemsFiltered()"
						href="#/tab/places/{{item.id}}">
						<img class="owt-list-img" ng-src="{{item.pic}}">
						<h2>{{item.name}}</h2>
						<p>{{item.description}}</p>
						<a ng-click="add(item.id)">
						<i class="icon icon-add" ng-class="addButtonClass(item.id)">
							{{addButtonPos(item.id)}}</i>
						</a>
						<!--
						<i class="icon ion-chevron-right icon-accessory"></i>
						<ion-option-button class="button-assertive" ng-click="remove(item)">
							Delete
						</ion-option-button>
						-->
					</ion-item>
				</div>
				<div ng-if="!items()">
					<h3>Waiting For Data</h3>
				</div>
			</ion-list>
		</ion-content>
	</div>
</ion-view>
