<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Orlando Walking Tours</h2>
    <p>Welcome to the Orlando Walking Tours app which was
    	created by <i>Code For Orlando</i> to help both visitors and locals experience the great history of our city on a very personl level. With this app you can:
    </p>

    <ul class="owt-list">
    	<li>Go to the <a href="#/tab/places">Places</a> page to review a list of interesting historical places.</li>

    	<li>Go to the <a href="#/tab/tours">Tours</a> page to view a list of walking tours. Each of these tours will guide you through a list of related historical places.</li>

    	<li>On either the Places or Tours page, you can tap on a specific item to go to that items's <i>Details</i> page to see more information about the item. When viewing a Details page, you can swipe left or right to see other places or tours on the list.</li>

    	<li>To take a guided tour, press the <b>Take This Tour</b> button on the tour's detail page. Then instructions for visiting each place of the tour will be presented on the <a href="#/tab/current">Take a Tour</a> page.</li>
	</ul>

	<p>This app allows you save customization settings such a favorites and you can even create new tours but modifing current tours and saving those modifications. You can even saving a collection of places of your choosing into a custom tour of your own making.</p>

	<p>To save or retrieve customizations you must first <button>Create an Account</button> or <button>Log In</button> to an existing account.

  </ion-content>
</ion-view>
