<ion-view view-title="Places">
	<div class="item owt-list-controls" ng-style="posIonContentStyle()">
		<div class="search-entry">
			<i class="ion ion-ios-search-strong search-entry-icon" style="left:2%"></i>
			<input type="text" class="search-entry-input"
				placeholder="Selection Filter" ng-change="selListFilterChg()" ng-model="saveSelListUI.filter"></input>
			<div class="inline-block">
			<a ng-click="selListFilterClear()">
				<i class="ion search-entry-icon" 
				style="left:80%; font-size:24px" 
				ng-class="selListFilterClass()"></i>
			</a>
			</div>
		</div>
		<div class="widthMax text-center">
			<button class="button" ng-click="saveSelListBut(1)">Save Selected</button>
			<button class="button" ng-click="saveSelListBut(0)">Clear Selected</button>
			<button class="button select-icon" ng-click="filterFavs()">
				<i class="ion" ng-class="filterFavsClass()"></i>
			</button>
		</div>
	</div>
	<div class="position-relative heightMax">
		<ion-content class="owt-content" ng-style="posIonContentStyle()">
			<ion-list class="owt-list">
				<div ng-if="items()">
					<ion-item class="item-avatar item-icon-right"
						ng-repeat="item in itemsFiltered() track by item.id"
						>
						<img class="owt-list-img" ng-src="{{item.pic}}">
						<a ng-click="itemDetailsPage(item)">
						<h2>{{item.name}}</h2>
						<p>{{item.description || ' '}}</p>
						</a>
						<a ng-click="selListAdd(item.id)">
							<i class="icon icon-add"
								ng-class="addButtonClass(item.id, 1)">
								{{addButtonPos(item.id)}}</i>
						</a>
						<!--
						<i class="icon ion-chevron-right icon-accessory"></i>
						<ion-option-button class="button-assertive" ng-click="remove(item)">
							Delete
						</ion-option-button>
						-->
					</ion-item>
				</div>
				<div ng-if="!items()">
					<h3>Waiting For Data</h3>
				</div>
			</ion-list>
		</ion-content>
	</div>
</ion-view>
