<ion-view view-title="Tours">
	<ion-content>
		<ion-list class="owt-list">
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap"
				href="#/tab/tours/{{item.id}}">
				<img ng-src="{{item.pic}}">
				<h2>{{item.name}}</h2>
				<p>{{item.description}}</p>
				<a ng-click="add(item.id)">
				<i class="icon" ng-class="addButtonClass(item.id)" style="right:40px"></i>
				</a>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="remove(item)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
