<ion-view view-title="Account">
  <ion-content>
	<ion-list>
	<ion-item>
		<ion-toggle  ng-model="settings.largePring">
			Large Print
		</ion-toggle>
	</ion-item>

	<ion-item>
		<label class="font18">Choose Your Prefered Language:</label>
		<ion-radio ng-model="settings.lang" ng-value="'A'">English</ion-radio>
		<ion-radio ng-model="settings.lang" ng-value="'B'">English</ion-radio>
		<ion-radio ng-model="settings.lang" ng-value="'C'">English</ion-radio>
	</ion-item>

	<ion-item>
		<button class="button button-positive margin20" ng-click="changeOriantationLandspace()">Landspace Mode</button>
		<button class="button button-positive margin20" ng-click="changeOriantationPortrait()">Portrait Mode</button>
	</ion-item>

	</ion-list>
  </ion-content>
</ion-view>
