/* Empty. Add your own CSS if you like */

.button .icon::before, 
	.button.icon::before, 
		.button.icon-left::before, 
			.button.icon-right::before {
	line-height: inherit;
}
.owt-content {
	bottom: 150px
}
.owt-details {
	top: 0 !important;
	height: 100%;
}
.owt-details img {
	width: 64px;
	height: 64px;
	margin: 6px;
}
.owt-details h2 {
	font-size: 18px;
}
.owt-details h3 {
	font-size: 14px;
}
.owt-details .right-padding {
	float: right;
	width: 10px;
	height: 100px;
}
.owt-details .select-icon {
	float: right;
	font-size: 28px;
	margin: 0;
	padding: 4px 0px;
	min-height: 50px;
	min-width: 40px;

	border-width: 0 !important;
	background-color: transparent !important;
}
.owt-details .slide-icons {
	position: absolute;
	top: 30px;
	color: #ddd;
	background-color: transparent;
	font-size: 32px;
	margin: 15px 0px;
	-webkit-transform: scale(0.8,3);
	-moz-transform: scale(0.8,3);	
	transform: scale(0.8,3);
	z-index: 2;
}
.owt-details .swipe-notice {
	color: #333;
	font-style: italic;
}
.owt-details-map {
	position: absolute;
	height: 200px;
	width: 100%;
	z-index: 3;
}
.owt-details-pics {
	background-color: lightgray;
	overflow: hidden;
}
.owt-details-slide {
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.owt-list .item h2 { font-size: 14px; text-align: left; }
.owt-list .item p { font-size: 11px;}
.owt-list .item-avatar {
	min-height: 30px;
	padding: 0;
}
.owt-list .item .item-content {
	min-height: 30px;
	padding: 8px 54px 8px 72px;
}
.owt-list .icon-add {
	right: 0px;
	width: 40px;
	font-size: 28px
}
.owt-list-controls {
	text-align: center;
	top: 44px;
}
.owt-list-controls .select-icon {
	font-size: 30px;
	box-shadow: 0 0 0 !important;
	background-color: transparent !important;
	padding: 0 4px;
	border-color: transparent !important;
}
.owt-list-controls .select-icon:active {
	box-shadow: 0 0 0;
	background-color: transparent;
}
.owt-modal .control-area {
	height: 100px;
	text-align: center;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-transform: translate(0,-200px);
	-moz-transform: translate(0,-200px);
	transform: translate(0,-200px);
}
.owt-modal .control-area .shuffle {
	min-width: 100px;
}
.owt-modal .control-area button {
	min-width: 150px;
}

.owt-modal .control-area-contained {
	height: 100px;
	overflow: hidden;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.owt-modal .control-area-slide {
	height: 180px;
	-webkit-transform: translate(0,0px);
	-moz-transform: translate(0,0px);
	transform: translate(0,0px);
}
.owt-modal .control-area-map {
	height: 180px;
	background-color: lightblue;
	margin-bottom: 20px;
}
.owt-modal .edit-del {
	position: absolute;
	top: 6px;
	left: 4px;
}
.owt-modal .edit-icon {
	font-size: 30px;
	margin: 4px 10px 4px 4px;
	min-height: 30px;
	min-width: 30px;
}
.owt-modal .edit-reorder {
	position: absolute;
	top: 6px;
	right: 2px;
}
.owt-modal .list-area-top {
	top: 200px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.owt-modal .item-right-edit {
	left: -5px;
	right: auto;
	-webkit-transform: translate3d(-75px, 0, 0);
	-moz-transform: translate3d(-75px, 0, 0);	
	transform: translate3d(-75px, 0, 0);
}

.owt-modal .tabs {
	top: 44px;
	bottom: auto;
	height: 32px;
	line-height: 30px
}
.owt-modal .tab-item .icon {
	height: 20px;
	font-size: 20px;
}
.owt-toolbar {
}
.owt-toolbar .but-toolbar {
	position: relative;
	display: inline-table;
	border: 0;
	border-bottom: 1px groove #ddd;
	color: black;
	margin: 4px 0;
	padding: 0;
	padding-bottom: 2px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	line-height: 14px
}
.owt-toolbar .but-toolbar i {
	font-size: 18px;
}

.save-mark { 
	font-size: 28px;
	margin: 0px 4px;
}
.search-entry {
	position: relative;
	height: 38px;
	margin: 2px auto;
}
.search-entry .search-entry-input {
	position: absolute;
	top: 4px;
	left: 11%;
	width: 68%;
	height: 28px;
	line-height: 16px;
	margin: 2px;
}
.search-entry .search-entry-icon {
	position: absolute;
	top: 0;
	font-size: 28px;
	color: black;
	padding: 4px;
}

/******** ionic overrides **********/
.button {
	border-radius: 6px;
	box-shadow: 
		0px 1px 2px rgba(168, 161, 155, 0.5), 
		inset 0px 0px 2px rgba(54, 47, 3, 0.5);	
	min-height: 30px;
	font-size: 14px;
	line-height: 30px;
}
.button:active {
	box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
}
.button:disabled {
	opacity: 0.65; 
	cursor: not-allowed;
	background-color: #999;
}
.button-block {
	margin-top: 4px;
	margin-bottom: 4px;
}
.label {
	font-weight: bold;
}
.item {
	font-size: 14px;
	padding: 10px;
}
.item-avatar > img:first-child, .item-avatar .item-image,
 .item-avatar .item-content > img:first-child,
  .item-avatar .item-content .item-image,
   .item-avatar-left > img:first-child,
	.item-avatar-left .item-image,
	 .item-avatar-left .item-content > img:first-child,
	  .item-avatar-left .item-content .item-image {
	top: 8px;
}
.item-checkbox {
	padding-left: 60px;
}
.item-input {
	padding: 2px 0 3px 8px;
}
.item-radio .radio-content .item-content {
	background-color: inherit;
	padding: 8px 20px 8px 8px;
}
.item-radio .radio-content .radio-icon {
	padding: 4px;
	font-size: 18px;
}

.item-toggle, .toggle-small.item-toggle {
	font-size: 14px;
	min-height: 40px;
	padding: 12px 99px 12px 8px;
	max-width: 440px
}
.item-toggle .toggle, .toggle-small.item-toggle .toggle {
	top: 4px;
}
.toggle .track {
	height: 30px;
	width: 51px;
}
.toggle .handle {
	width: 28px;
	height: 28px;
	top: 6px;
	left: 8px;
}
ul.owt-list, ol.owt-list {
	list-style: disc;
	margin-bottom: 14px;
	margin-top: 14px;
	padding-left: 40px;
}

/******* generic *********/
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 4px;	
}

h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
i {font-style: italic;}

label {
	display: inline-block;
	line-height: 1;
	font-weight: bold;
}
label.disabled {
	background-color: #aaa;
	font-style: italic;
}
input[type="text"], input[type="password"], textarea {
	/*sunken look*/
	border-radius: 2px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	padding-left: 5px;
	margin-right: 5px;
}

.background-grey { background-color: grey}
.black { color: black; }
.blue { color: blue; }
.clear {float: none; }
.float-left { float: left;}
.float-right { float: right;}
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font24 { font-size: 24px; }
.font28 { font-size: 28px; }
.heightMax { height: 100%; }
.inline-30 {display: inline-block !important; width:30%;}
.inline-70 {display: inline-block !important; width:70%;}
.inline-block { display: inline-block !important;}
.inline-table { display: inline-table !important;}
.margin4 { margin: 4px; }
.margin8 { margin: 8px; }
.margin20 { margin: 20px; }
.min-width-150 { min-width: 150px; }
.pointer-events-auto { pointer-events: auto; }
.position-relative { position: relative;}
.red { color: red; }
.sizeMax { width: 100%; height: 100%; }
.text-center { text-align: center;}
.text-left { text-align: left;}
.widthMax { width: 100%;}

